@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #eee;
}
ol {
    margin: 25px;
}
button {
    padding: 15px 20px;
    outline: none;
    background: darkblue;
    color: darkgrey;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    margin: 15px auto;
    cursor: pointer;
    transition: all 100ms ease;
}

button:hover {
    background-color: darkcyan;
}
